Options +FollowSymlinks
RewriteEngine On

# If the requested file or directory exists, serve it
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, redirect everything to index.php
RewriteRule . index.php